{% extends "base.html" %}
{% load bootstrap_form from bootstrap5 %}
{% load static %}
{% load i18n %}

{% block title %}Смена  пароля{% endblock %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
  <div class="col-lg-10 col-sm-12 m-auto">
    <div class="row login">
      <div class="col-md-8 password_change_form">
        <form method="post" action="{% url 'account:change_password' %}">
          <fieldset>
            <h3>Создайте Новый пароль</h3>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if REDIRECT_FIELD_VALUE %}
              <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}" value="{{ REDIRECT_FIELD_VALUE }}"/>
            {% endif %}
          </fieldset>
          <button type="submit" class="btn btn-primary narrow">
            Обновить пароль
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
