{% extends 'base.html' %}
{% load static %}
{% block content %}



    <!-- Custom styles for this template -->
    <link rel="stylesheet"  href="{% static 'task_list.css' %}" >
    <style>
      .tree summary::before{
        z-index    : 1;
        background : rgb(213, 242, 24) url('{% static "images/expand-collapse.svg" %}') 0 0;
      }
    </style>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_task" data-bs-whatever="">
  Добавить новую задачу
</button>

<div class="modal fade" id="create_task" tabindex="-1" aria-labelledby="create_taskLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create_taskLabel">Новая Задача</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Создать</button>
          </form>
      </div>
    </div>
  </div>
</div>

<h1>Все задачи</h1>
<table  class="table">
    <thead>
        <tr>
          <th style="width: 5%;" scope="col">#</th>
          <th style="width: 10%;" scope="col">Название</th>
          <th style="width: 15%; font-size: 10px" scope="col">Добавить подзадачу(+)</th>
          <th style="width: 30%;" scope="col"></th>
          <th style="width: 5%; text-align: right;" scope="col">Статус</th>
          <th style="width: 12%; text-align: right;" scope="col">Детализация</th>
          <th style="width: 2%; text-align: right;" scope="col"></th>
        </tr>
      </thead>

<tbody>
  

</tbody>

</table>
{% load mptt_tags %}
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0"
style="height: 80vh;; overflow-y: scroll;">
  <ul class="tree">
      {% recursetree tasks %}
          <li>
              {% if not node.is_leaf_node %}
              <details open>
            
              <summary  title="{{ node.description }}">
                {{ node.title }}
                
                <span  data-bs-toggle="modal" data-bs-target="#create_task" data-bs-whatever="{{ node.id }}" title="добавить подзадачу к {{ node.title }}"  class="align-self-end"><strong>&nbsp;&nbsp;&nbsp;&nbsp;(+)</strong></span>


                <span class="left-span" style="position: absolute; right: 12em;" >Span 3</span>
                <span class="align-self-end">
                  <a href="{% url 'task:task_detail' node.pk %}" title="подробнее про  {{ node.title }}" style="position: absolute; right: 10px;">Details...</a>
                </span>


              </summary>

                  <ul class="children">
                      {{ children }} 
                  </ul>

              </details>
              {% else %}

              {{ node.title }} 
              <p class="description" title="добавить подзадачу к {{ node.description }}">
              {{ node.description|truncatechars:50 }}
                <span  data-bs-toggle="modal" data-bs-target="#create_task" data-bs-whatever="{{ node.id }}" title="добавить подзадачу к {{ node.title }}"  class="align-self-end">&nbsp;&nbsp;&nbsp;&nbsp; (+) </span>
                <span class="align-self-end">
                  <a href="{% url 'task:task_detail' node.pk %}" title="подробнее про {{ node.title }}" style="position: absolute; right: 10px;">...</a>
                </span>
              </p>
              {% endif %}
          </li>
      {% endrecursetree %}
  </ul>
</div>

<script>
  var modalTrigger = document.getElementById('create_task')
  var selectElement = document.getElementById('custom-parent-id');
  modalTrigger.addEventListener('show.bs.modal', function (event) {
    // Кнопка, запускающая модальное окно
    var button = event.relatedTarget
    // Извлечь информацию из атрибутов data-bs- *
    var taskId = button.getAttribute('data-bs-whatever')
    // Обновите содержимое модального окна.
    for (var i = 0; i < selectElement.options.length; i++) {
      var option = selectElement.options[i];
      if (option.getAttribute('value') === taskId) {
        option.setAttribute('selected', 'selected');
      } else {
        option.removeAttribute('selected');
      }
    }
  });
</script>


{% endblock %}

